.n1 { margin:20px;display:inline-block; background-color:red;color:aliceblue;padding:20px;border-radius:10px;
}
h6{display:inline-block;}
.f1 {background-color: rgb(49, 137, 49);width:100%;height:200px;padding-top:80px;}
.a1 a{margin-left:140px;text-decoration:none;color:white;padding-left:80px;}
.a2 a{text-decoration:none;color:white ;padding-left:210px;}
hr{color: aqua;}
.b11{margin-left:450px;}

